# Add all the latex compilation files to the .gitignore file

*.aux
*.log
*.out
*.synctex.gz
*.xcf
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.bcf
*.run.xml
*.sbatch

processing/raw_datasets/

Baselines/plots

LLM-classifier/test_trainer/
LLM-classifier/train_model/
# add all ipynb checkpoints to the .gitignore file

.ipynb_checkpoints/

# add all the .pyc files to the .gitignore file

*.pyc

# other

*save_pid.txt

.idea/

llm-classifier/Sbatch
llm-classifier/train_model
llm-classifier/train_logs
llm-classifier/train_checkpoint

.env

attention/models/
wandb/

*.backup

.env

*.zip

*.pdf

archive/
slurm/

Answer*.png
Context*.png
Question*.png

tests.ipynb

deepspeed_config.json

*.log
*.sbatch
*.err
train*/
misc/
template/